.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .info{
    display: flex;
    flex-direction: row;

    .title{
      padding-right: 40px;

      h3{
        font-size: 30px;
        margin: 0;
      }
    }

    .status{
      position: relative;
      display: flex;
      padding-top: 5px;

      p{
        padding-left: 10px;

        span{
          font-weight: bold;
        }
      }
    }
   
  }

  .buttonWrapper {

  }
}